<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="HouseApiScenarios"
	annotations="JDK">

	<test name="Api Tests">
		<classes>
			<class name="com.houseAPIWithRestAssured.HouseApiTestResults" />
			<class name="com.houseAPIWithRestAssured.HouseApiTestEmptyResults" />
		</classes>
	</test>

</suite>